
<div class="container " >

  <div class="d-flex mt-5 col-4 offset-4 text-center flex-wrap-center">
      <h1>Merci <strong><%= @booking.user.firstname.capitalize%></strong>  d'avoir choisi  <strong><%= @booking.offer.user.firstname.capitalize  %></strong>  pour vous aider a réaliser votre projet.
       Nous esperons vous revoir très bientot sur Meetpeople</h1>
  </div>
  <%= link_to "Revenir en arrière", offers_path %>
  <%= link_to "Voir ton Dashboard ", dashboard_path %>
</div>
