
<div class="container mt-5 text-center" >

  <i class="fa-solid fa-circle-check my-5"></i>
  <h1>Thank you <strong><%= current_user.firstname%></strong> for using MeetPeople</h1>
  <button type="button" class="btn btn-secondary m-3"><%= link_to "Go back to available buddies", offers_path%></button>
  <button type="button" class="btn btn-secondary m-3"><%= link_to "See your dashboard", dashboard_path %></button>
</div>
