
<div class="container mt-5" >

    <i class="fa-solid fa-circle-check mt-5 text-center"></i>
  <div class="d-flex mt-5 col-4 offset-4 text-center flex-wrap-center">
    <h1>Merci <strong><%= @booking.user.firstname%></strong>  d'avoir choisi  <strong><%= @booking.offer.user.firstname  %></strong>  pour vous aider a réaliser votre projet.
    Nous esperons vous revoir très bientot sur Meetpeople</h1>
  </div>
  <%= link_to "Revenir en arrière", offers_path %>
  <%= link_to "Voir ton Dashboard ", dashboard_path %>
</div>
