.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2%;
}

.card-trip-pricing {
  text-align: center;
  padding: 0px;
  display:flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  background-size: cover;
}

.description {
  display:inline-block;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
  overflow: hidden;
}

.adresse {
  display:inline-block;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
  overflow: hidden;
}

.card-trip .ruby {
  object-fit: contain;
}

.card-trip-icons {
  height: 20px;
  width: 20px;
}

.card-trip ol, ul {
  padding-left: 1rem;
}

.card-trip li {
  list-style-type: none;
}

.offer-name {
  text-decoration: none;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h2  .offer-name{
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-top: 3px solid #809499;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 11px;
  top: -29px;
  width: 50px;
  height: 50px;

}

.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.card-trip.box {
    text-decoration:none;
    color: black;
    a {
      text-decoration: none;
    }
}

h2 {
  text-decoration: none;
}
