.start-page {
  display: flex;
  justify-content: space-between;
  ul {
    margin-right: auto;
  }
}

.card-calendar {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;

  .angled-gradient-button {
    width: 100%;
  }
  .start-date-input input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .end-date-input input {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }

}

.start-page .angled-gradient-button {
  background-size: 220%;
  box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
  color: #253038;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #253038;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all .2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(110deg, #253038 0%, #253038 50%, transparent 50%, transparent 100%);
  font-size: 14px;
}
.start-page .angled-gradient-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #fff;
}
.start-page .angled-gradient-button:active {
  transform: translateY(-1px);
}

.push-button-3d {
  box-shadow: 0 4px #171613;
  color: #1d1600;
  background-color: #ffc107;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s ease;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0px;
  a {
    padding: 16px;
  }
}
.push-button-3d:active {
  box-shadow: 0 1px #C1A23C;
  transform: translateY(3px);
}

.start-page-user {
  display: flex;
  justify-content: space-evenly;
  ul {
    margin-right: auto;
  }
}

.btn-secondary{
  background-size: 220%;
  box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
  color: #253038;
  background-color: transparent;
  background-position: 100%;
  border: 3px solid #253038;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all .2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(110deg, #253038 0%, #253038 50%, transparent 50%, transparent 100%);
  font-size: 14px;
  padding: 8px 16px;
  a{
    color: #171613;
    text-decoration: none;
  }
}

.btn-secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #fff;
  padding: 8px 16px;
  a{
    color: #fff;
  }
}
